<footer>
    <div class="footer02">
        <div class="container">
            <div class="col-sm-4 col-xs-12 footer-address">
                <h4>蓝海化工有限公司</h4>
                <ul>
                    <li><i class="glyphicon glyphicon-home"></i>公司地址：江苏省苏州市联邦国际花园</li>
                    <li><i class="glyphicon glyphicon-phone-alt"></i>固定电话：0512-57995109</li>
                    <li><i class="glyphicon glyphicon-phone"></i>移动电话：18112651385</li>
                    <li><i class="glyphicon glyphicon-envelope"></i>联系邮箱：Cindy@kindjob.com</li>
                </ul>
            </div>
            <ul class="footerlink col-sm-4 hidden-xs">
                <li>
                    <a href="about.html">关于我们</a>
                </li>
                <li>
                    <a href="products.html">产品介绍</a>
                </li>
                <li>
                    <a href="news.html">新闻中心</a>
                </li>
                <li>
                    <a href="contact.html">联系我们</a>
                </li>
            </ul>
            <div class="gw col-sm-4 col-xs-12">
                <p>关注我们：</p>
                <img src="static/images/wx.jpg"/>
                <p>客服热线：0512-57995109</p>
            </div>
        </div>
        <div class="copyright text-center">
            <span>copyright © 2017 </span>
            <span>蓝海化工有限公司 </span>
            <span>更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a> </span>
        </div>
    </div>
</footer>